<%- include('../partials/header') %>
<h2>Welcome to the Community Portal</h2>

<p>We're excited to have you here! This portal is a space to connect, collaborate, and contribute to a stronger, more united community. Whether you're a volunteer, student, local leader, or resident, you belong here.

We want to help create opportunities for everyone to engage and grow. You can explore upcoming events, share your ideas, and be part of a movement built on inclusion, transparency, and collective action.

Let’s build something great together.</p>
<h3 class="heading3">Upcoming events:</h3>
<div class="event-list">
  <% upcomingEvents.forEach(event => { %>
  <div class="event-card">
    <img src="<%= event.image %>" alt="<%= event.title %> Image" />
    <h2><%= event.title %></h2>
    <p><strong>Date:</strong> <%= event.date %></p>
    <p><strong>Location:</strong> <%= event.location %></p>
    <div class="event-description">
      <p><%= event.description %></p>
    </div>
  </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>
